/****Buttons, Icons, Accents****/

//CTAs

%cta {
  @include x-pad($space-medium);
  @include y-pad($space-lighter);
  color: $brand-1;
  border: solid 2px $brand-1;
  border-radius: $cta-border-radius;
    
  &:hover {
    cursor: pointer;
    color: $offset-font-color;
    background-color: $brand-1;
  }
}


%icon-beside-text {
  @include wrapper(start, center);
  
  p, a {@include column(18);}
  
  svg {
    height: 30px;
    width: 30px;
    padding-right: $space-lighter;
  }
  
}




