/********THEME********/

/****Fonts****/

//Typography
$primary-font: 'Arial', sans-serif !default;
$secondary-font: 'Verdana', sans-serif !default;

$root-font-size: 22px !default;
$root-line-height: 1.6 !default;

//Font Color
$font-color: $shade-darkest !default;
$offset-font-color: $shade-lighter !default;


/****Elements****/

//Base
$page-background: #EDF7F6 !default;
$max-content-width: 1140px !default;

//Borders & Shadow
$shadow-color: $shade-darker !default;

$border-color: $shade-darker !default;
$border-width: 1px !default;
$border-style: solid !default;
$border-radius: 10px;

//Titles
$title-color: $shade-darkest !default;
$title-line-height: 1.2 !default;

$h1-size: 2.2rem !default;
$h2-size: 1.4rem !default;
$h3-size: 1.2rem !default;

//Brand
$brand-1: #FFE43A !default;
$brand-2: #35A7FF !default;
$brand-3: #FF5964 !default;
$brand-accent: #FF5964 !default;
$brand-offset: #EDF2F4 !default;

$brand-4: #06D6A0 !default;
$brand-5: #06D6A0 !default; 
$brand-shade-1: #DEDFFE !default;
$brand-shade-2: #DEDFFE !default;
$brand-shade-3: #DEDFFE !default;

$base-opacity: 0.6 !default;

//CTAs
$cta-color-1: $brand-2 !default;
$cta-color-2: $brand-3 !default;
$cta-border-radius: 25px !default;

//Transitions
$transition-duration: 0.3s;


/********BREAKPOINTS********/

$touch: 425px !default;
$fablet: 550px !default;
$tablet: 768px !default;
$laptop: 1024px !default;
$desktop: 1440px !default;


/********COLUMNS********/

$grid-columns: 24 !default; //alters the number of calculated 'width' columns


/********SPACING********/

/****Inner****/
$space-lighter: 0.2rem !default;
$space-lighter: 0.4rem !default;
$space-light: 0.8rem !default;
$space-medium: 1.2rem !default;
$space-heavy: 1.6rem !default;
$space-heavier: 2.4rem !default;
$space-heaviest: 4rem !default;

/****Outer****/
$outer-space-lightest: 0.6rem !default;
$outer-space-lighter: 0.8rem !default;
$outer-space-light: 1.2rem !default;
$outer-space-medium: 1.8rem !default;
$outer-space-heavy: 2.6rem !default;
$outer-space-heavier: 4rem !default;
$outer-space-heaviest: 8rem !default;































