/********THEME********/

/****Fonts****/

//Typography
$font-set: 'Raleway', sans-serif;
$font-size-root: 22px;
$line-height-root: 1.6;

//Font Color
$default-font-color: hsl(0, 0%, 14%);
$offset-font-color: hsl(0, 0%, 98%);


/****Elements****/

//Base
$page-background: #EEE;
$shade-base: '';
$shade-light: '';
$shade-medium: '';
$shade-dark: '';

//Brand
$brand-1: #6E6168;
$brand-2: #197695;
$brand-3: #3D9963;
$brand-4: #5E4C5A;
$brand-5: #FF8300;

//CTAs
$call-to-action-1: $brand-2;
$call-to-action-2: $brand-3;

//Border
$border-light: '';
$border-medium: '';
$border-dark: '';

//Shadow
$shadow-light: '';
$shadow-medium: '';
$shadow-dark: '';


/********BREAKPOINTS********/

$touch: 425px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1440px;


/********COLUMNS********/

$grid-columns: 24; //alters the number of calculated 'width' columns


/********PADDING********/

$pad-light: 0.5rem;
$pad-base: 1rem;
$pad-medium: 1.5rem;
$pad-heavy: 2rem;


/********MARGINS********/

/****Inner****/
$inner-margin-light: 0.5rem;
$inner-margin-base: 1rem;
$inner-margin-medium: 1.5rem;
$inner-margin-heavy: 2rem;

/****Outer****/
$outer-margin-light: 1.5rem;
$outer-margin-base: 2rem;
$outer-margin-medium: 2.5rem;
$outer-margin-heavy: 4rem;