/////////SHADING/////////

$shade-darkest: hsl(0, 0%, 21%) !default; 
$shade-darker: hsl(0, 0%, 29%) !default; 
$shade-dark: hsl(0, 0%, 48%) !default; 
$shade-base: hsl(0, 0%, 71%) !default;
$shade-light: hsl(0, 0%, 86%) !default;
$shade-lighter: hsl(0, 0%, 96%) !default;
$shade-lightest: hsl(0, 0%, 98%) !default;
$shade-white: hsl(0, 0%, 100%) !default; 

$base-brand-shading: 0.2 !default;
$base-opacity: 0.6 !default;

/////////SPACING/////////

/////Inner/////
$space-lightest: 0.2rem !default;
$space-lighter: 0.4rem !default;
$space-light: 0.8rem !default;
$space-medium: 1.2rem !default;
$space-heavy: 1.6rem !default;
$space-heavier: 2.4rem !default;
$space-heaviest: 4rem !default;

/////Outer/////
$outer-space-lightest: 0.6rem !default;
$outer-space-lighter: 0.8rem !default;
$outer-space-light: 1.2rem !default;
$outer-space-medium: 1.8rem !default;
$outer-space-heavy: 2.6rem !default;
$outer-space-heavier: 4rem !default;
$outer-space-heaviest: 8rem !default;
