//Shading

$shade-darkest: hsl(0, 0%, 21%) !default; 
$shade-darker: hsl(0, 0%, 29%) !default; 
$shade-dark: hsl(0, 0%, 48%) !default; 
$shade-base: hsl(0, 0%, 71%) !default;
$shade-light: hsl(0, 0%, 86%) !default;
$shade-lighter: hsl(0, 0%, 96%) !default;
$shade-lightest: hsl(0, 0%, 98%) !default;
$shade-white: hsl(0, 0%, 100%) !default; 