/////////////////////////////
/****CONTENT COMPONENTS****/
///////////////////////////


/****Content Panels****/
$content-panel-x-pad: $outer-space-heavy !default;
$content-panel-y-pad: $outer-space-heavy !default;
$content-panel-justify: around !default;
$content-panel-align: stretch !default;
$content-panel-align-content: center !default;
$content-panel-custom-width: false !default;
$content-panel-is-opinionated: false !default;
$content-panel-has-background: $page-background;

/****Content Cards****/

/**Card Options**/
$card-is-shadowed: true !default;
$card-is-rounded: true !default;
$card-is-bordered: false !default;
$card-is-centered: false !default;
$card-background: $page-background !default;
$card-color: $font-color !default;
$card-transition: true !default;

/*Small*/
$light-card-font-size: 0.8rem !default;
$light-card-outer-pad: $space-medium !default;
$light-card-title-pad: $space-light !default;
$light-card-inner-pad: $space-light !default;

$light-card-config: (
  'outer-pad': $light-card-outer-pad,
  'inner-pad': $light-card-inner-pad,
  'title-pad': $light-card-title-pad,
  'card-font-size': $light-card-font-size
);

/*Medium*/
$medium-card-font-size: 0.8rem !default;
$medium-card-outer-pad: $space-heavy !default;
$medium-card-title-pad: $space-medium !default;
$medium-card-inner-pad: $space-medium !default;

$medium-card-config: (
  'outer-pad': $medium-card-outer-pad,
  'inner-pad': $medium-card-inner-pad,
  'title-pad': $medium-card-title-pad,
  'card-font-size': $medium-card-font-size
);

/*Heavy*/
$heavy-card-font-size: 0.8rem !default;
$heavy-card-outer-pad: $space-heavier !default;
$heavy-card-title-pad: $space-heavy !default;
$heavy-card-inner-pad: $space-heavy !default;

$heavy-card-config: (
  'outer-pad': $heavy-card-outer-pad,
  'inner-pad': $heavy-card-inner-pad,
  'title-pad': $heavy-card-title-pad,
  'card-font-size': $heavy-card-font-size
);