/*************************************
***********WIDTH & HEIGHT************
************************************/

//Column based mixins take an integer between one and the value of $grid-columns
//(see config-base partial) and return a percentage value
@mixin column($column) {width: 100%/$grid-columns * $column;}

@mixin column-break($breakpoint, $column) {
  @media screen and (min-width: $breakpoint) {
    width: 100% / $grid-columns * $column;
  }
}

//'custom' width mixin takes a breakpoint and a width value with a unit
@mixin custom-break($breakpoint, $width) {
  @media screen and (min-width: $breakpoint) {
    width: $width;
  }
}

@mixin column-scale(
  $default: false,
  $on-lrg-mobile: false,
  $on-phablet: false,
  $on-tablet: false,
  $on-laptop: false,
  $on-desktop: false
  ) {    
  
  @if $default {@include column($default)}
  @if $on-lrg-mobile  {@include column-break($lrg-mobile, $on-lrg-mobile)}
  @if $on-phablet {@include column-break($phablet, $on-phablet)}
  @if $on-tablet {@include column-break($tablet, $on-tablet)}
  @if $on-laptop {@include column-break($laptop, $on-laptop)}
  @if $on-desktop{@include column-break($desktop, $on-desktop)}
}

//height mixin takes a breakpoint and a height value with a unit
@mixin height-break($breakpoint, $height) {
  @media screen and (min-width: $breakpoint) {
    height: $height;
  }
}

@mixin height-scale(
  $default: false,
  $on-lrg-mobile: false,
  $on-phablet: false,
  $on-tablet: false,
  $on-laptop: false,
  $on-desktop: false
  ) {
  @if $default {height: $default}
  @if $on-lrg-mobile  {@include height-break($lrg-mobile, $on-lrg-mobile)}
  @if $on-phablet {@include height-break($phablet, $on-phablet)}
  @if $on-tablet {@include height-break($tablet, $on-tablet)}
  @if $on-laptop {@include height-break($laptop, $on-laptop)}
  @if $on-desktop{@include height-break($desktop, $on-desktop)}
}



