/*************************************
***********WIDTH & HEIGHT************
************************************/

//Column based mixins take an integer between one and the value of $grid-columns
//(see config partial) and return a percentage value
@mixin column($column) {width: 100%/$grid-columns * $column;}

@mixin column-break($breakpoint, $column) {
  @media screen and (min-width: $breakpoint) {
    width: 100% / $grid-columns * $column;
  }
}

//'custom' width mixin takes a breakpoint and a width value with a unit
@mixin custom-break($breakpoint, $width) {
  @media screen and (min-width: $breakpoint) {
    width: $width;
  }
}

@mixin column-scale(
  $on-mobile: false,
  $on-touch: false,
  $on-fablet: false,
  $on-tablet: false,
  $on-laptop: false,
  $on-desktop: false
  ) {
  @if $on-mobile {@include column($on-mobile)}
  @if $on-touch  {@include column-break($touch, $on-touch)}
  @if $on-fablet {@include column-break($fablet, $on-fablet)}
  @if $on-tablet {@include column-break($tablet, $on-tablet)}
  @if $on-laptop {@include column-break($laptop, $on-laptop)}
  @if $on-desktop{@include column-break($desktop, $on-desktop)}
}

//height mixin takes a breakpoint and a height value with a unit
@mixin height-break($breakpoint, $height) {
  @media screen and (min-width: $breakpoint) {
    height: $height;
  }
}

@mixin height-scale(
  $on-mobile: false,
  $on-touch: false,
  $on-fablet: false,
  $on-tablet: false,
  $on-laptop: false,
  $on-desktop: false
  ) {
  @if $on-mobile {height: $on-mobile}
  @if $on-touch  {@include height-break($touch, $on-touch)}
  @if $on-fablet {@include height-break($fablet, $on-fablet)}
  @if $on-tablet {@include height-break($tablet, $on-tablet)}
  @if $on-laptop {@include height-break($laptop, $on-laptop)}
  @if $on-desktop{@include height-break($desktop, $on-desktop)}
}



