/*************************************
***********MARGIN*******************
************************************/

/****Defaults****/

@mixin x-margin($margin) {
  margin-left: $margin;
  margin-right: $margin;
}

@mixin y-margin($margin) {
  margin-top: $margin;
  margin-bottom: $margin;
}

/****Breakpoint Concious****/

@mixin margin-until($breakpoint, $dir, $val) {
  @media screen and (max-width: $breakpoint - 1px) {
    margin-#{$dir}: $val;
  }
}

@mixin margin-from($breakpoint, $dir, $val) {
  @media screen and (min-width: $breakpoint) {
    margin-#{$dir}: $val;
  }
}

@mixin x-margin-until($breakpoint, $margin) {
  @media screen and (max-width: $breakpoint - 1px) {
    @include x-margin($margin) ; 
  }
}

@mixin x-margin-from($breakpoint, $margin) {
  @media screen and (min-width: $breakpoint) {
    @include x-margin($margin) ; 
  }
}

@mixin x-margin-between($start, $end, $margin) {
  @media screen and (min-width: $start) and (max-width: $end - 1px) {
    @include x-margin($margin) ; 
  }
}

@mixin y-margin-until($breakpoint, $margin) {
  @media screen and (max-width: $breakpoint - 1px) {
    @include y-margin($margin) ; 
  }
}

@mixin y-margin-from($breakpoint, $margin) {
  @media screen and (min-width: $breakpoint) {
    @include y-margin($margin) ; 
  }
}

@mixin y-margin-between($start, $end, $margin) {
  @media screen and (min-width: $start) and (max-width: $end - 1px) {
    @include y-margin($margin) ; 
  }
}

@mixin xy-margin-until($breakpoint, $margin) {
  @media screen and (max-width: $breakpoint - 1px) {
    @include x-margin($margin) ; 
    @include y-margin($margin) ; 
  }
}

@mixin xy-margin-between($start, $end, $margin) {
  @media screen and (min-width: $start) and (max-width: $end - 1px) {
    @include x-margin($margin) ;
    @include y-margin($margin) ;
  }
}

@mixin custom-margin-until($breakpoint, $top, $right, $bottom, $left) {
  @media screen and (max-width: $breakpoint - 1px) {
    margin-top: $top;
    margin-right: $right;
    margin-left: $left;
    margin-bottom: $bottom;
  }
}

@mixin custom-margin-from($breakpoint, $top, $right, $bottom, $left) {
  @media screen and (min-width: $breakpoint) {
    margin-top: $top;
    margin-right: $right;
    margin-left: $left;
    margin-bottom: $bottom;
  }
}

@mixin custom-margin-between($start, $end, $top, $right, $bottom, $left) {
  @media screen and (min-width: $start) and (max-width: $end - 1px) {
    margin-top: $top;
    margin-right: $right;
    margin-left: $left;
    margin-bottom: $bottom; 
  }
}

@mixin oneway-margin-until($breakpoint, $val) {
  @media screen and (max-width: $breakpoint - 1px) {
    margin-bottom: $val ; 
  }
}

@mixin oneway-margin-from($breakpoint, $val) {
  @media screen and (min-width: $breakpoint) {
    margin-bottom: $val ; 
  }
}

@mixin oneway-margin-between($start, $end, $margin) {
  @media screen and (min-width: $start) and (max-width: $end - 1px) {
    margin-bottom: $margin; 
  }
}

@mixin margin-scale (
  $dir,
    $default: false,
    $on-lrg-mobile: false,
    $on-phablet: false, 
    $on-tablet: false,
    $on-laptop: false,
    $on-desktop: false,
  ) {
    
  $scale: (
    1: $on-lrg-mobile,
    2: $on-phablet,
    3: $on-tablet,
    4: $on-laptop,
    5: $on-desktop
  );
    
  @if $default {
    @if $dir == x {@include x-margin($default);}
    @else if $dir == y {@include y-margin($default);}
    @else if $dir == xy {@include xy-margin($default);}
    @else {margin-#{$dir}: $default;}
  }
        
  @each $key, $val in $scale {
    
    @if $val {
      
      @if $dir == x {
        @include x-margin-from(nth($breakpoints, $key), $val);
      }
      
      @else if $dir == y {
        @include y-margin-from(nth($breakpoints, $key), $val);          
      }
      
      @else if $dir == xy {
        @include xy-margin-from(nth($breakpoints, $key), $val);          
      }
      
      @else {
        @include margin-from(nth($breakpoints, $key), $dir, $val);
      }
    }
  } 
}
