/*************************************
***********MARGIN*******************
************************************/

/****Defaults****/

@mixin x-margin($margin) {
  margin-left: $margin;
  margin-right: $margin;
}

@mixin y-margin($margin) {
  margin-top: $margin;
  margin-bottom: $margin;
}

/****Breakpoint Concious****/

@mixin margin-until($breakpoint, $dir, $val) {
  @media screen and (max-width: $breakpoint - 1px) {
    margin-#{$dir}: $val;
  }
}

@mixin margin-from($breakpoint, $dir, $val) {
  @media screen and (min-width: $breakpoint) {
    margin-#{$dir}: $val;
  }
}

@mixin x-margin-until($breakpoint, $margin) {
  @media screen and (max-width: $breakpoint - 1px) {
    @include x-margin($margin) ; 
  }
}

@mixin x-margin-from($breakpoint, $margin) {
  @media screen and (min-width: $breakpoint) {
    @include x-margin($margin) ; 
  }
}

@mixin x-margin-between($start, $end, $margin) {
  @media screen and (min-width: $start) and (max-width: $end - 1px) {
    @include x-margin($margin) ; 
  }
}

@mixin y-margin-until($breakpoint, $margin) {
  @media screen and (max-width: $breakpoint - 1px) {
    @include y-margin($margin) ; 
  }
}

@mixin y-margin-from($breakpoint, $margin) {
  @media screen and (min-width: $breakpoint) {
    @include y-margin($margin) ; 
  }
}

@mixin y-margin-between($start, $end, $margin) {
  @media screen and (min-width: $start) and (max-width: $end - 1px) {
    @include y-margin($margin) ; 
  }
}

@mixin xy-margin-until($breakpoint, $margin) {
  @media screen and (max-width: $breakpoint - 1px) {
    @include x-margin($margin) ; 
    @include y-margin($margin) ; 
  }
}

@mixin xy-margin-between($start, $end, $margin) {
  @media screen and (min-width: $start) and (max-width: $end - 1px) {
    @include x-margin($margin) ;
    @include y-margin($margin) ;
  }
}

@mixin custom-margin-until($breakpoint, $top, $right, $bottom, $left) {
  @media screen and (max-width: $breakpoint - 1px) {
    margin-top: $top;
    margin-right: $right;
    margin-left: $left;
    margin-bottom: $bottom;
  }
}

@mixin custom-margin-from($breakpoint, $top, $right, $bottom, $left) {
  @media screen and (min-width: $breakpoint) {
    margin-top: $top;
    margin-right: $right;
    margin-left: $left;
    margin-bottom: $bottom;
  }
}

@mixin custom-margin-between($start, $end, $top, $right, $bottom, $left) {
  @media screen and (min-width: $start) and (max-width: $end - 1px) {
    margin-top: $top;
    margin-right: $right;
    margin-left: $left;
    margin-bottom: $bottom; 
  }
}

@mixin oneway-margin-until($breakpoint, $val) {
  @media screen and (max-width: $breakpoint - 1px) {
    margin-bottom: $val ; 
  }
}

@mixin oneway-margin-from($breakpoint, $val) {
  @media screen and (min-width: $breakpoint) {
    margin-bottom: $val ; 
  }
}

@mixin oneway-margin-between($start, $end, $margin) {
  @media screen and (min-width: $start) and (max-width: $end - 1px) {
    margin-bottom: $margin; 
  }
}

@mixin margin-scale(
  $dir,
  $on-mobile: false,
  $on-touch: false,
  $on-fablet: false,
  $on-tablet: false,
  $on-laptop: false,
  $on-desktop: false
  ) {
    @if $on-mobile {margin-#{$dir}: $on-mobile;}
  @if $on-touch  {@include margin-from($touch, $dir, $on-touch)}
  @if $on-fablet {@include margin-from($fablet, $dir, $on-fablet)}
  @if $on-tablet {@include margin-from($tablet, $dir, $on-tablet)}
  @if $on-laptop {@include margin-from($laptop, $dir, $on-laptop)}
  @if $on-desktop{@include margin-from($desktop, $dir, $on-desktop)}
}

@mixin x-margin-scale(
  $on-mobile: false,
  $on-touch: false,
  $on-fablet: false,
  $on-tablet: false,
  $on-laptop: false,
  $on-desktop: false
  ) {
  @if $on-mobile {@include x-margin($on-mobile)}
  @if $on-touch  {@include x-margin-from($touch, $on-touch)}
  @if $on-fablet {@include x-margin-from($fablet, $on-fablet)}
  @if $on-tablet {@include x-margin-from($tablet, $on-tablet)}
  @if $on-laptop {@include x-margin-from($laptop, $on-laptop)}
  @if $on-desktop{@include x-margin-from($desktop, $on-desktop)}
}

@mixin y-margin-scale(
  $on-mobile: false,
  $on-touch: false,
  $on-fablet: false,
  $on-tablet: false,
  $on-laptop: false,
  $on-desktop: false
  ) {
  @if $on-mobile {@include y-margin($on-mobile)}
  @if $on-touch  {@include y-margin-from($touch, $on-touch)}
  @if $on-fablet {@include y-margin-from($fablet, $on-fablet)}
  @if $on-tablet {@include y-margin-from($tablet, $on-tablet)}
  @if $on-laptop {@include y-margin-from($laptop, $on-laptop)}
  @if $on-desktop{@include y-margin-from($desktop, $on-desktop)}
}

@mixin xy-margin-scale(
  $on-mobile: false,
  $on-touch: false,
  $on-fablet: false,
  $on-tablet: false,
  $on-laptop: false,
  $on-desktop: false
  ) {
  @if $on-mobile {margin:$on-mobile;}
  @if $on-touch  {@include xy-margin-from($touch, $on-touch)}
  @if $on-fablet {@include xy-margin-from($fablet, $on-fablet)}
  @if $on-tablet {@include xy-margin-from($tablet, $on-tablet)}
  @if $on-laptop {@include xy-margin-from($laptop, $on-laptop)}
  @if $on-desktop{@include xy-margin-from($desktop, $on-desktop)}
}