/*************************************
***********PADDING*******************
************************************/

/****Defaults****/

@mixin x-pad($pad) {
  padding-left: $pad;
  padding-right: $pad;
}

@mixin y-pad($pad) {
  padding-top: $pad;
  padding-bottom: $pad;
}

/****Breakpoint Concious****/

@mixin pad-until($breakpoint, $dir, $val) {
  @media screen and (max-width: $breakpoint - 1px) {
    @if $dir == top {
      padding-top: $val;
    }
    @else if $dir == right {
      padding-right: $val;
    }
    @else if $dir == bottom {
      padding-bottom: $val;
    }
    @else if $dir == left {
      padding-left: $val;
    }
  }
}

@mixin pad-from($breakpoint, $dir, $val) {
  @media screen and (min-width: $breakpoint) {
    @if $dir == top {
      padding-top: $val;
    }
    @else if $dir == right {
      padding-right: $val;
    }
    @else if $dir == bottom {
      padding-bottom: $val;
    }
    @else if $dir == left {
      padding-left: $val;
    }
  }
}

@mixin x-pad-until($breakpoint, $pad) {
  @media screen and (max-width: $breakpoint - 1px) {
    @include x-pad($pad) ; 
  }
}

@mixin x-pad-from($breakpoint, $pad) {
  @media screen and (min-width: $breakpoint) {
    @include x-pad($pad) ; 
  }
}

@mixin x-pad-between($start, $end, $pad) {
  @media screen and (min-width: $start) and (max-width: $end - 1px) {
    @include x-pad($pad) ; 
  }
}

@mixin y-pad-until($breakpoint, $pad) {
  @media screen and (max-width: $breakpoint - 1px) {
    @include y-pad($pad) ; 
  }
}

@mixin y-pad-from($breakpoint, $pad) {
  @media screen and (min-width: $breakpoint) {
    @include y-pad($pad) ; 
  }
}

@mixin y-pad-between($start, $end, $pad) {
  @media screen and (min-width: $start) and (max-width: $end - 1px) {
    @include y-pad($pad) ; 
  }
}

@mixin xy-pad-until($breakpoint, $pad) {
  @media screen and (max-width: $breakpoint - 1px) {
    @include x-pad($pad) ; 
    @include y-pad($pad) ; 
  }
}

@mixin xy-pad-from($breakpoint, $pad) {
  @media screen and (min-width: $breakpoint) {
    @include x-pad($pad) ; 
    @include y-pad($pad) ; 
  }
}

@mixin xy-pad-between($start, $end, $pad) {
  @media screen and (min-width: $start) and (max-width: $end - 1px) {
    @include x-pad($pad) ;
    @include y-pad($pad) ;
  }
}

@mixin custom-pad-until($breakpoint, $top, $right, $bottom, $left) {
  @media screen and (max-width: $breakpoint - 1px) {
    padding-top: $top;
    padding-right: $right;
    padding-left: $left;
    padding-bottom: $bottom;
  }
}

@mixin custom-pad-from($breakpoint, $top, $right, $bottom, $left) {
  @media screen and (min-width: $breakpoint) {
    padding-top: $top;
    padding-right: $right;
    padding-left: $left;
    padding-bottom: $bottom;
  }
}

@mixin custom-pad-between($start, $end, $top, $right, $bottom, $left) {
  @media screen and (min-width: $start) and (max-width: $end - 1px) {
    padding-top: $top;
    padding-right: $right;
    padding-left: $left;
    padding-bottom: $bottom; 
  }
}