/*************************************
***********TYPOGRAPHY****************
************************************/

/****Breakpoint Concious Font Size****/

@mixin font-size-until ($breakpoint, $size) {
  @media screen and (max-width: $breakpoint - 1px) {
    font-size: $size;
  }
}

@mixin font-size-from ($breakpoint, $size) {
  @media screen and (min-width: $breakpoint) {
    font-size: $size;
  }
}

@mixin font-size-scale(
  $on-mobile: false,
  $on-touch: false,
  $on-fablet: false,
  $on-tablet: false,
  $on-laptop: false,
  $on-desktop: false
  ) {
  @if $on-mobile {font-size:$on-mobile;}
  @if $on-touch  {@include font-size-from($touch, $on-touch)}
  @if $on-fablet {@include font-size-from($fablet, $on-fablet)}
  @if $on-tablet {@include font-size-from($tablet, $on-tablet)}
  @if $on-laptop {@include font-size-from($laptop, $on-laptop)}
  @if $on-desktop{@include font-size-from($desktop, $on-desktop)}
}

/****Breakpoint Concious Line Height****/

@mixin line-height-until ($breakpoint, $size) {
  @media screen and (max-width: $breakpoint - 1px) {
    line-height: $size;
  }
}

@mixin line-height-from ($breakpoint, $size) {
  @media screen and (min-width: $breakpoint) {
    line-height: $size;
  }
}

/****Breakpoint Concious Font Weight****/

@mixin font-weight-until ($breakpoint, $weight) {
  @media screen and (max-width: $breakpoint - 1px) {
    font-weight: $weight;
  }
}

@mixin font-weight-from ($breakpoint, $size) {
  @media screen and (min-width: $breakpoint) {
    font-weight: $weight;
  }
}

/****Breakpoint Concious Alignment****/

@mixin text-align-until ($breakpoint, $alignment) {
  @media screen and (max-width: $breakpoint - 1px) {
    @if $alignment == left {
      text-align: left;
    }
    @else if $alignment == right {
      text-align: right;
    }
    @else if $alignment == center {
      text-align: center;
    }
    @else if $alignment == justify {
      text-align: justify;
    }
  }
}

@mixin text-align-from ($breakpoint, $alignment) {
  @media screen and (min-width: $breakpoint) {
    @if $alignment == left {
      text-align: left;
    }
    @else if $alignment == right {
      text-align: right;
    }
    @else if $alignment == center {
      text-align: center;
    }
    @else if $alignment == justify {
      text-align: justify;
    }
  }
}