
/****CARDS****/

//Base

@mixin card-inner-padding($modifier) {
  svg {
    margin-bottom: $modifier;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    padding-bottom: $modifier;
  }
}

////

@mixin small-card($is-shadowed: $is-card-shadowed, $is-rounded: $is-card-rounded) {
  margin-bottom: $small-card-handheld-oneway-margin;
    @incude oneway-margin-from($laptop, $small-card-desktop-oneway-margin);
  padding: $small-card-outer-pad;
  font-size: $small-card-font-size;
  background-color: $page-background;
  @include standard-transition(all);
  
  @include card-inner-padding($small-card-inner-pad);
  
  @if $is-shadowed {@include under-shadow();}
  @if $is-rounded {border-radius: $border-radius;}
}

@mixin medium-card($is-shadowed: $is-card-shadowed, $is-rounded: $is-card-rounded) {
  margin-bottom: $medium-card-handheld-oneway-margin;
    @include oneway-margin-from($laptop, $medium-card-desktop-oneway-margin);
  padding: $medium-card-outer-pad;
  font-size: $medium-card-font-size;
  background-color: $page-background;
  @include standard-transition(all);
  
  @include card-inner-padding($medium-card-inner-pad);
  
  @if $is-shadowed {@include under-shadow();}
  @if $is-rounded {border-radius: $border-radius;}
}