/****PANELS****/

%content-panel-wrapper {
  //wraps all content panels with full width and centered content
  @include row(center, center);
}

%content-panel {
  //individual content panel
  ///full width to accomodate background shading (passed by classExtensions)
  @include row(center, center);
  @include y-pad($content-panel-y-pad);
  @include x-pad-from($tablet, $content-panel-x-pad);
}

%content-panel-title {
  // <h2 class="content-panel-title"><span> {{content.title}} </span></h2> //
  width: 100%;
  text-align: center;
  padding-bottom: $space-heavier;

    span {
      @include underline-span(75%, 5px, $brand-accent);
      padding-bottom: $space-medium;

      &:after {
        @include x-center-absolute();
      }
    }
}

%content-panel-inner {
  //'inner' wrapper to hold content items - adheres to max width variable
  @include container(around, start);
  @include align-c(stretch);
  width: 100%;
  max-width: $max-content-width;
}




