/****PANELS****/

%content-panel-wrapper {
  //wraps all content panels with full width and centered content
  @include row(center, center);
}

//Content panel should be used as the 'section' level wrapper for a group or block of content. The class is extended to the containing element, with 'content-panel-inner' then used to wrap the dynamic content within. 

@mixin content-panel (
  $justify-items: $content-panel-justify,
  $align-items: $content-panel-align,
  $align-content: $content-panel-align-content,
  $is-full-width: $content-panel-is-full-width,
  $format-children: $content-panel-format-children,
) {
  
  @include row(center, center);
  @include y-pad($content-panel-y-pad);
  @include x-pad-from($tablet, $content-panel-x-pad);
  
  
  .content-panel-inner {
    @include row($justify-items, $align-items);
    @include align-c($align-content);
    
    @if $is-full-width != true {max-width: $max-content-width}; 
    
    @if $format-children {
      h1 {@include y-pad($large-title-pad);}
      h2 {@include y-pad($large-title-pad);}
      h3 {@include y-pad($medium-title-pad);}
      h4 {@include y-pad($medium-title-pad);}
      h5 {@include y-pad($small-title-pad);}
      h6 {@include y-pad($small-title-pad);}

      ul, p {padding-left: $space-lightest; padding-bottom: $text-pad;}
      ul {@include x-margin($list-indent); @include x-pad($list-indent);}
      li {padding-bottom: $list-item-pad;}
      
      a {
        color: $link-color;
        &:hover {text-decoration: underline;}
      }
      
    }
  }
}


/****DEPRECIATE THIS****/
%content-panel {
  @include row(center, center);
  @include y-pad($content-panel-y-pad);
  @include x-pad-from($tablet, $content-panel-x-pad);
  
  .content-panel-title {
    width: 100%;
    text-align: center;
    padding-bottom: $space-heavier;
    span {
      @include underline-span(75%, 5px, $brand-accent);
      padding-bottom: $space-medium;
      &:after {
        @include x-center-absolute();
      }
    }
  }
  
  .content-panel-inner {
    @include container(around, stretch);
    @include align-c(stretch);
    width: 100%;
    max-width: $max-content-width;
  }
}

%content-panel-inner {
  //'inner' wrapper to hold content items - adheres to max width variable
  @include container(around, start);
  @include align-c(stretch);
  width: 100%;
  max-width: $max-content-width;
}




