
/****CARDS****/

//Base
@mixin card-config(
  $outer-pad,
  $inner-pad,
  $title-pad,
  $card-font-size) {
  
  padding: $outer-pad;
  font-size: $card-font-size;
    
    
  //Children  
  svg {margin-bottom: $inner-pad;}
  h1, h2, h3, h4, h5, h6 {width: 100%;}
  h1, h2, {padding-bottom: $title-pad;}
  h3, h4, h5, h6 {padding-bottom: $inner-pad;}
    
  p {padding-bottom: $inner-pad;}
  
  label {
    padding-bottom: $space-lighter;}
  input:not([type="submit"]), textarea {
    padding: $space-lighter;
    margin-bottom: $inner-pad;
  }
}


//CONTENT CARD
@mixin content-card (
  $type,
    $is-shadowed: $is-card-shadowed,
    $is-rounded: $is-card-rounded,
    $is-bordered: $is-card-bordered,
    $is-centered: $is-card-centered,
    $has-background: $card-background,
    $has-color: $card-color,
    $has-transition: $is-card-transition
  ) {
    
    //Config
    @if $type == light {@include card-config($light-card-config...);}
    @if $type == medium {@include card-config($medium-card-config...)}
    @if $type == heavy {@include card-config($heavy-card-config...)}
    
    //Options
    background-color: $has-background;
    color: $has-color;
    @if $is-shadowed {@include under-shadow();}
    @if $is-rounded {border-radius: $border-radius;}
    @if $is-bordered {border: $border-width $border-style $border-color}
    @if $is-centered {text-align: center;}
    @if $has-transition {@include standard-transition(all);}
  }

