////CONTAINERS////


//Base//

%row {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@mixin row(
  $x, $y,
  $yc: stretch,
  $no-wrap: false
  ) {
  @extend %row;
  @include justify($x) ; 
  @include align($y) ;
  @include align-c($yc) ;
  @if $no-wrap {-ms-flex-wrap: nowrap;flex-wrap: nowrap}
}


%container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@mixin container(
  $x, $y,
  $yc: stretch,
  $no-wrap: false
  ) {
  @extend %container;
  @include justify($x) ; 
  @include align($y) ;
  @include align-c($yc);
  @if $no-wrap {-ms-flex-wrap: nowrap;flex-wrap: nowrap}
}


%wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@mixin wrapper(
  $x, $y,
  $yc: stretch,
  $no-wrap: false
  ) {
  @extend %wrapper;
  @include justify($x) ; 
  @include align($y) ;
  @include align-c($yc);
  @if $no-wrap {-ms-flex-wrap: nowrap;flex-wrap: nowrap}
}



/////Hide Element/////
@mixin hidden-until ($breakpoint) {
  @media screen and (max-width: $breakpoint - 1px) {
    display: none;
  }
}

@mixin hidden-from ($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    display: none;
  }
}

@mixin hidden-between ($start, $end) {
  @media screen and (min-width: $start) and (max-width: $end - 1px) {
    display: none;
  }
}


/////Prevent Wrapping/////
@mixin nowrap-until($breakpoint) {
  @media screen and (max-width: $breakpoint - 1px) {
    -ms-flex-wrap: nowrap; flex-wrap: nowrap;
  }
}

@mixin nowrap-from($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    -ms-flex-wrap: nowrap;flex-wrap: nowrap;
  }
}

@mixin nowrap-between ($start, $end) {
  @media screen and (min-width: $start) and (max-width: $end - 1px) {
    -ms-flex-wrap: nowrap;flex-wrap: nowrap;
  }
}


/////Allow Wrapping/////
@mixin can-wrap-until($breakpoint) {
  @media screen and (max-width: $breakpoint - 1px) {
    -ms-flex-wrap: wrap;flex-wrap: wrap;
  }
}

@mixin can-wrap-from($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    -ms-flex-wrap: wrap; flex-wrap: wrap;
  }
}

@mixin canwrap-between ($start, $end) {
  @media screen and (min-width: $start) and (max-width: $end - 1px) {
    -ms-flex-wrap: wrap; flex-wrap: wrap;
  }
}