/*************************************
***********PADDING*******************
************************************/

/****Defaults****/

@mixin x-pad($pad) {
  padding-left: $pad;
  padding-right: $pad;
}

@mixin y-pad($pad) {
  padding-top: $pad;
  padding-bottom: $pad;
}

/****Breakpoint Concious****/

@mixin pad-until($breakpoint, $dir, $val) {
  @media screen and (max-width: $breakpoint - 1px) {
    padding-#{$dir}: $val 
  }
}

@mixin pad-from($breakpoint, $dir, $val) {
  @media screen and (min-width: $breakpoint) {
    padding-#{$dir}: $val
  }
}

@mixin x-pad-until($breakpoint, $pad) {
  @media screen and (max-width: $breakpoint - 1px) {
    @include x-pad($pad) ; 
  }
}

@mixin x-pad-from($breakpoint, $pad) {
  @media screen and (min-width: $breakpoint) {
    @include x-pad($pad) ; 
  }
}

@mixin x-pad-between($start, $end, $pad) {
  @media screen and (min-width: $start) and (max-width: $end - 1px) {
    @include x-pad($pad) ; 
  }
}

@mixin y-pad-until($breakpoint, $pad) {
  @media screen and (max-width: $breakpoint - 1px) {
    @include y-pad($pad) ; 
  }
}

@mixin y-pad-from($breakpoint, $pad) {
  @media screen and (min-width: $breakpoint) {
    @include y-pad($pad) ; 
  }
}

@mixin y-pad-between($start, $end, $pad) {
  @media screen and (min-width: $start) and (max-width: $end - 1px) {
    @include y-pad($pad) ; 
  }
}

@mixin xy-pad-until($breakpoint, $pad) {
  @media screen and (max-width: $breakpoint - 1px) {
    @include x-pad($pad) ; 
    @include y-pad($pad) ; 
  }
}

@mixin xy-pad-from($breakpoint, $pad) {
  @media screen and (min-width: $breakpoint) {
    @include x-pad($pad) ; 
    @include y-pad($pad) ; 
  }
}

@mixin xy-pad-between($start, $end, $pad) {
  @media screen and (min-width: $start) and (max-width: $end - 1px) {
    @include x-pad($pad) ;
    @include y-pad($pad) ;
  }
}

@mixin custom-pad-until($breakpoint, $top, $right, $bottom, $left) {
  @media screen and (max-width: $breakpoint - 1px) {
    padding-top: $top;
    padding-right: $right;
    padding-left: $left;
    padding-bottom: $bottom;
  }
}

@mixin custom-pad-from($breakpoint, $top, $right, $bottom, $left) {
  @media screen and (min-width: $breakpoint) {
    padding-top: $top;
    padding-right: $right;
    padding-left: $left;
    padding-bottom: $bottom;
  }
}

@mixin custom-pad-between($start, $end, $top, $right, $bottom, $left) {
  @media screen and (min-width: $start) and (max-width: $end - 1px) {
    padding-top: $top;
    padding-right: $right;
    padding-left: $left;
    padding-bottom: $bottom; 
  }
}

@mixin pad-scale (
  $dir,
    $default: false,
    $on-lrg-mobile: false,
    $on-phablet: false, 
    $on-tablet: false,
    $on-laptop: false,
    $on-desktop: false,
  ) {
    
  $scale: (
    1: $on-lrg-mobile,
    2: $on-phablet,
    3: $on-tablet,
    4: $on-laptop,
    5: $on-desktop
  );
    
  @if $default {
    @if $dir == x {@include x-pad($default);}
    @else if $dir == y {@include y-pad($default);}
    @else if $dir == xy {@include x-pad($default); @include y-pad($default);}
    @else {padding-#{$dir}: $default;}
  }
        
  @each $key, $val in $scale {
    
    @if $val {
      
      @if $dir == x {
        @include x-pad-from(nth($breakpoints, $key), $val);
      }
      
      @else if $dir == y {
        @include y-pad-from(nth($breakpoints, $key), $val);          
      }
      
      @else if $dir == xy {
        @include xy-pad-from(nth($breakpoints, $key), $val);          
      }
      
      @else {
        @include pad-from(nth($breakpoints, $key), $dir, $val);
      }
    }
  } 
}

