//Shadows
@mixin under-shadow() {
  box-shadow: 0 5px 20px -5px $shadow-color;
}

@mixin under-shadow-until ($breakpoint, $guage) {
  @media screen and (max-width: $breakpoint) {
    @include under-shadow($guage) ; 
  }
}

@mixin under-shadow-from ($breakpoint, $guage) {
  @media screen and (min-width: $breakpoint) {
    @include under-shadow($guage) ; 
  }
}

@mixin centered-shadow($guage) {
  @if $guage == light {
    box-shadow: 0px 0px 3px 2px $shadow-color ;  
  }
  @else if $guage == medium {
    box-shadow: 0px 0px 5px 4px $shadow-color ;
  }
  @else if $guage == heavy {
    box-shadow: 0px 0px 7px 6px $shadow-color ;
  }
}

@mixin up-shadow($guage) {
  @if $guage == light {
    box-shadow: 0px -3px 3px 0px $shadow-color ;  
  }
  @else if $guage == medium {
    box-shadow: 0px -5px 5px 0px $shadow-color ;
  }
  @else if $guage == heavy {
    box-shadow: 0px -7px 7px 0px $shadow-color ;
  }
}

@mixin down-shadow($guage) {
  @if $guage == light {
    box-shadow: 0px 3px 3px 0px $shadow-color ;  
  }
  @else if $guage == medium {
    box-shadow: 0px 5px 5px 0px $shadow-color ;
  }
  @else if $guage == heavy {
    box-shadow: 0px 7px 7px 0px $shadow-color ;
  }
}

@mixin centered-shadow-until ($breakpoint, $guage) {
  @media screen and (max-width: $breakpoint) {
    @include centered-shadow($guage) ; 
  }
}

@mixin centered-shadow-from ($breakpoint, $guage) {
  @media screen and (min-width: $breakpoint) {
    @include centered-shadow($guage) ; 
  }
}


//Underline Span
@mixin underline-span($width, $height, $color) {
        
  display: inline-block;
  position: relative;
  padding-bottom: $space-lighter;
      
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: $width;
      background-color: $color;
      height: $height;
    }
}