//Borders

@mixin border-from(
  $breakpoint,
  $dir: false,
  $style: $standard-border
  ) {
    @media screen and (min-width: $breakpoint) {
      @if $dir {border-#{$dir}: $style}
      @else {border: $style;}
  } 
}

@mixin border-until(
  $breakpoint,
  $dir: false,
  $style: $standard-border
  ) {
    @media screen and (max-width: $breakpoint - 1px) {
      @if $dir {border-#{$dir}: $style}
      @else {border: $style;}
  } 
}

@mixin border-between(
  $start,
  $end,
  $dir: false,
  $style: $standard-border
  ) {
    @media screen and (min-width: $start) and (max-width: $end - 1px) {
      @if $dir {border-#{$dir}: $style}
      @else {border: $style;}
  } 
}

//Shadows
@mixin shadow($style, $shade: $shadow-color) {
  -webkit-box-shadow: $style $shade;
  box-shadow: $style $shade;
}

@mixin shadow-from (
  $breakpoint,
  $style,
  $shade: $shadow-color) {
  @media screen and (min-width: $breakpoint) {
    @include shadow($style, $shade) ; 
  }
}

@mixin shadow-until (
  $breakpoint,
  $style,
  $shade: $shadow-color) {
  @media screen and (max-width: $breakpoint - 1px) {
    @include shadow($style, $shade) ; 
  }
}




//Pseudo Span

@mixin pseudo-span(
  $has-position: $pseudo-span-position,
  $has-width: $pseudo-span-width,
  $has-height: $pseudo-span-height,
  $has-spacing: $pseudo-span-spacing,
  $has-fill: $pseudo-span-fill,
  $is-centered: $pseudo-span-centered,
  $has-hover: $pseudo-span-on-hover
  ) {
        
  position: relative;
  display: inline-block;
  padding-#{$has-position}: $has-spacing;
  margin-#{$has-position}: $has-spacing;
      
    &:after {
      content: "";
      position: absolute;
        #{$has-position}: 0;
      @if $is-centered {@include x-center-absolute();}
      @else {
        left: 0;
      }
      width: $has-width;
      background-color: $has-fill;
      height: $has-height;
    }
  @if $has-hover {
    &:hover {
      &:after {
        width: $has-hover;
        @include standard-transition(width);
      }
    }
  }
}

@mixin pseudo-span-until (
  $breakpoint,
  $has-position: $pseudo-span-position,
  $has-width: $pseudo-span-width,
  $has-height: $pseudo-span-height,
  $has-spacing: $pseudo-span-spacing,
  $has-fill: $pseudo-span-fill,
  $is-centered: $pseudo-span-centered,
  $has-hover: $pseudo-span-on-hover
  ) {
    @media screen and (max-width: $breakpoint - 1px) {
      @include pseudo-span(
        $has-position,
        $has-width,
        $has-height,
        $has-spacing,
        $has-fill,
        $is-centered,
        $has-hover,
      )
    }   
}

@mixin pseudo-span-from (
  $breakpoint,
  $has-position: $pseudo-span-position,
  $has-width: $pseudo-span-width,
  $has-height: $pseudo-span-height,
  $has-spacing: $pseudo-span-spacing,
  $has-fill: $pseudo-span-fill,
  $is-centered: $pseudo-span-centered,
  $has-hover: $pseudo-span-on-hover
  ) {
    @media screen and (min-width: $breakpoint) {
      @include pseudo-span(
        $has-position,
        $has-width,
        $has-height,
        $has-spacing,
        $has-fill,
        $is-centered,
        $has-hover,
      )
    }   
}

@mixin pseudo-span-between (
  $start,
  $end,
  $has-position: $pseudo-span-position,
  $has-width: $pseudo-span-width,
  $has-height: $pseudo-span-height,
  $has-spacing: $pseudo-span-spacing,
  $has-fill: $pseudo-span-fill,
  $is-centered: $pseudo-span-centered,
  $has-hover: $pseudo-span-on-hover
  ) {
    @media screen and (min-width: $start) and (max-width: $end - 1px) {
      @include pseudo-span(
        $has-position,
        $has-width,
        $has-height,
        $has-spacing,
        $has-fill,
        $is-centered,
        $has-hover,
      )
    }   
}
  
  
  
  
  
  
  
  
  
  