//Shading

$shade-darkest: hsl(0, 0%, 21%) !default; 
$shade-darker: hsl(0, 0%, 29%) !default; 
$shade-dark: hsl(0, 0%, 48%) !default; 
$shade-base: hsl(0, 0%, 71%) !default;
$shade-light: hsl(0, 0%, 86%) !default;
$shade-lighter: hsl(0, 0%, 96%) !default;
$shade-lightest: hsl(0, 0%, 98%) !default;
$shade-white: hsl(0, 0%, 100%) !default; 

//Shadow 

@mixin centered-shadow($guage) {
  @if $guage == light {
    box-shadow: 0px 0px 3px 2px $shadow-default ;  
  }
  @else if $guage == medium {
    box-shadow: 0px 0px 5px 4px $shadow-default ;
  }
  @else if $guage == heavy {
    box-shadow: 0px 0px 7px 6px $shadow-default ;
  }
}

@mixin up-shadow($guage) {
  @if $guage == light {
    box-shadow: 0px -3px 3px 0px $shadow-default ;  
  }
  @else if $guage == medium {
    box-shadow: 0px -5px 5px 0px $shadow-default ;
  }
  @else if $guage == heavy {
    box-shadow: 0px -7px 7px 0px $shadow-default ;
  }
}

@mixin down-shadow($guage) {
  @if $guage == light {
    box-shadow: 0px 3px 3px 0px $shadow-default ;  
  }
  @else if $guage == medium {
    box-shadow: 0px 5px 5px 0px $shadow-default ;
  }
  @else if $guage == heavy {
    box-shadow: 0px 7px 7px 0px $shadow-default ;
  }
}

@mixin centered-shadow-until ($breakpoint, $guage) {
  @media screen and (max-width: $breakpoint) {
    @include centered-shadow($guage) ; 
  }
}

@mixin centered-shadow-from ($breakpoint, $guage) {
  @media screen and (min-width: $breakpoint) {
    @include centered-shadow($guage) ; 
  }
}

//Backgrounds
%full-width-cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}