@mixin standard-transition(
  $props: all,
  $duration: $transition-duration,
  $function: ease-in-out
  ) {
  transition-property: $props;
  transition-duration: $duration;
  transition-timing-function: $function;
}