/*************************************
***********TYPOGRAPHY****************
************************************/

/****Standard Typography Flow Format****/
%standard-flow {
  
  p + h2, p + header h2, p + h3, p + h4,
  ul + h2, ul + header h2, ul + h3, ul + h4,
  ol + h2, ol + header h2, ol + h3, ol + h4, 
  table + h2, table + header h2, table + h3, table + h4,
  blockquote + h2, blockquote + header h2, blockquote + h3, blockquote + h4,
  form + h2, form + header h2, form + h3, form + h4 {
    margin-top: $outer-space-heavy;
  }
  h1 {margin-bottom: $large-title-pad}
  h2 {margin-bottom: $large-title-pad}
  h3 {margin-bottom: $medium-title-pad}
  h4 {margin-bottom: $medium-title-pad}
  h5 {margin-bottom: $small-title-pad}
  h6 {margin-bottom: $small-title-pad}

  ul, ol, p {padding-left: $space-lightest; margin-bottom: $text-pad;}
  ul, ol {@include x-margin($list-indent); @include x-pad-from($tablet, $list-indent);}
  li {margin-bottom: $list-item-pad;}
  
  a {
    color: $link-color;
    &:hover {text-decoration: underline;}
  }
}


/****Breakpoint Concious Font Size****/

@mixin font-size-until ($breakpoint, $size) {
  @media screen and (max-width: $breakpoint - 1px) {
    font-size: $size;
  }
}

@mixin font-size-from ($breakpoint, $size) {
  @media screen and (min-width: $breakpoint) {
    font-size: $size;
  }
}

@mixin font-size-scale(
  $on-mobile: false,
  $on-touch: false,
  $on-fablet: false,
  $on-tablet: false,
  $on-laptop: false,
  $on-desktop: false
  ) {
  @if $on-mobile {font-size:$on-mobile;}
  @if $on-touch  {@include font-size-from($touch, $on-touch)}
  @if $on-fablet {@include font-size-from($fablet, $on-fablet)}
  @if $on-tablet {@include font-size-from($tablet, $on-tablet)}
  @if $on-laptop {@include font-size-from($laptop, $on-laptop)}
  @if $on-desktop{@include font-size-from($desktop, $on-desktop)}
}

/****Breakpoint Concious Line Height****/

@mixin line-height-until ($breakpoint, $size) {
  @media screen and (max-width: $breakpoint - 1px) {
    line-height: $size;
  }
}

@mixin line-height-from ($breakpoint, $size) {
  @media screen and (min-width: $breakpoint) {
    line-height: $size;
  }
}

/****Breakpoint Concious Font Weight****/

@mixin font-weight-until ($breakpoint, $weight) {
  @media screen and (max-width: $breakpoint - 1px) {
    font-weight: $weight;
  }
}

@mixin font-weight-from ($breakpoint, $size) {
  @media screen and (min-width: $breakpoint) {
    font-weight: $weight;
  }
}

/****Breakpoint Concious Alignment****/

@mixin text-align-until ($breakpoint, $alignment) {
  @media screen and (max-width: $breakpoint - 1px) {
    @if $alignment == left {
      text-align: left;
    }
    @else if $alignment == right {
      text-align: right;
    }
    @else if $alignment == center {
      text-align: center;
    }
    @else if $alignment == justify {
      text-align: justify;
    }
  }
}

@mixin text-align-from ($breakpoint, $alignment) {
  @media screen and (min-width: $breakpoint) {
    @if $alignment == left {
      text-align: left;
    }
    @else if $alignment == right {
      text-align: right;
    }
    @else if $alignment == center {
      text-align: center;
    }
    @else if $alignment == justify {
      text-align: justify;
    }
  }
}