$slide-in-modal-from: left !default;
$slide-in-modal-z-index: 999 !default;
$slide-in-modal-overflow: scroll !default;
$slide-in-modal-height: 100vh !default;

$fullscreen-overlay-shade: rgba(#000, 0.9) !default;