/////////////////////////////
/****PRIMARY NAVIGATION****/
///////////////////////////

$nav-handheld-until: $laptop !default;
$nav-font-family: $secondary-font !default;
$nav-font-color: $brand-1 !default;
$nav-link-font-size: 1.2rem !default;
$nav-link-y-pad: $space-light !default;
$nav-link-active-color: $brand-2 !default;

/****Primary Navigation****/

$primary-nav-justify: between !default;
$primary-nav-align: center !default;
$primary-nav-link-column: 16 !default;
$primary-nav-has-transition: true !default;

/****Handheld Navigation****/
$handheld-nav-column-width: 20 !default;
$handheld-nav-full-height: true !default;
$handheld-nav-scrolls-from: right !default;
$handheld-nav-align-text: center !default;
$handheld-nav-has-background: $page-background !default;








