@mixin primary-navigation(
  $justify-items: $primary-nav-justify,
  $align-items: $primary-nav-align,
  $has-font-family: $nav-font-family,
  $has-font-color: $nav-font-color,
  $has-transition: $primary-nav-has-transition,
  $has-link-column: $primary-nav-link-column,
  $has-link-font-size: $nav-link-font-size, 
  $has-link-y-pad: $nav-link-y-pad,
  $has-link-active-color: $nav-link-active-color,
  $has-icon-size: $nav-toggle-icon-size,
  $has-background-color: $primary-nav-has-background,
) {

  @include row($justify-items, $align-items);
  font-family: $has-font-family;
  color: $has-font-color;
  background: $has-background-color;
  @if $has-transition {@include standard-transition(all);}
  
  .nav-link-wrapper {
    @include hidden-until($nav-handheld-until);
    @include wrapper(center, center);
    @include column($has-link-column);
    text-align: center;
    
    .nav-link {
      flex: 1;
      font-size: $has-link-font-size;
      
      a {
        width: 100%;
        @include y-pad($has-link-y-pad);
        &:hover {
          cursor: pointer;
        }
        
        &.nuxt-link-exact-active {
          color: $has-link-active-color
        }
      }
    }
  }
  
  .handheld-menu-toggle {
    @include x-pad($space-light);
    @include y-pad($space-lighter);
    .svg-icon {
      width: $has-icon-size;
      height: $has-icon-size;
      fill: $has-font-color;
    }
  }
 
}

@mixin handheld-navigation(
  $is-column-width: $handheld-nav-column-width,
  $is-full-height: $handheld-nav-full-height,
  $scroll-from: $handheld-nav-scrolls-from,
  $is-text-aligned: $handheld-nav-align-text,
  $has-background-color: $handheld-nav-has-background,
  $has-icon-size: $nav-toggle-icon-size,
) {
  z-index: 9999;  
  position: absolute;
    top: 0;
    #{$scroll-from}: -100%;
      &.is-active {#{$scroll-from}: 0;}
  overflow-y: scroll;
    
  @include column($is-column-width);
  @include hidden-from($nav-handheld-until);
  
  @if $is-full-height {height: 100vh;}
  
  text-align: $scroll-from;
  
  background-color: $has-background-color;
  @include standard-transition($scroll-from);
  transition-timing-function: linear;
  
  .handheld-navigation-inner {
    width: 100%;
    text-align: $is-text-aligned;
  }
  
  .handheld-menu-toggle {
    display: inline-block;
    @include standard-transition(all);
    transition-duration: 0.6s;
  }
  
  &.is-active {
    .handheld-menu-toggle {
      transform: rotate(-360deg);
    }
  }
}




